body {
    font-family: Georgia;
    font-size: 10pt;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: rgb(241, 120, 205)
}

.choices {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px, 0;
}

.choice {
    display: inline-block;
    padding: 15px;
    border: 4px solid black;
    border-radius: 250px;
    transition: 0.3s;
    background-color: white;

}

.choice img {
    width: 80px;
    height: auto;
    display: block;
    border-radius: 25px;
}

.choice:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(241, 120, 205, 1.0);
}

#playerChoice,
#computerChoice {
    font-size: 18pt;
    font-style: bold;
    margin-bottom: 20px;
    color: rgb(241, 120, 205);
    font-family: Georgia;
}

#result {
    font-size: 25pt;
    color: rgb(248, 87, 199);
    font-family: Georgia;
    font-style: italic;

}

#thinking img{
height: auto;
width: 80px;
border: 4px solid black;
margin: 20px;
}