body {
    font-family: Georgia;
    font-size: 10pt;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: rgb(241, 120, 205)
}

section {
    width: auto;
    height: auto;
    border: 3px solid rgb(248, 87, 199);
    margin: 5px;
    border-radius: 15px;
}

section img {
    border-radius: 250px;
    padding: 10px;

}

.choices {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.choice {
    display: inline-block;
    padding: 10px;
    border: 4px solid black;
    border-radius: 250px;
    transition: 0.3s;
    background-color: white;

}

.choice img {
    width: 80px;
    height: auto;
    display: block;
    border-radius: 25px;
}

.choice:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(241, 120, 205, 1.0);
}

#playerChoice {
    font-size: 18pt;
    font-style: bold;
    margin-bottom: 20px;
    font-family: Georgia;
    color: black;
}

#computerChoice {
    font-size: 18pt;
    font-style: bold;
    margin-bottom: 20px;
    font-family: Georgia;
    border-radius: 15px;
    color: black;
}

#result {
    font-size: 25pt;
    color: rgb(248, 87, 199);
    font-weight: bold;
    font-family: Georgia;
    font-style: italic;
    margin: 5px;

}

#thinking img {
    height: auto;
    width: 80px;
    border: 4px solid black;
    margin: 20px;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    border: 3px solid rgb(248, 87, 199);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

#scoreboard h6 {
    text-align: center;
    margin: 10pt 0;
    font-size: 10pt;
    font-weight: bold;
}

#resetScore {
    background-color: rgb(241, 120, 205);
    border-radius: 250px;
    border: 3px solid rgb(248, 87, 199);
    width: 100px;
    padding: 5px 10px;
    margin: 7px;
    font-size: 10pt;


}